@font-face {
  font-family: 'Lato-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'Lato-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

body{
    padding-top: 3em;
    border-top: 5px solid #cf000a;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 17px;
}

.masonry-brick {
    margin-bottom: 1em;
}

header {
    padding-bottom: 3em;

    .header__text {
        text-align: center;
    }

    h1 {
        font-family: 'Lato-Regular';
        font-size: 21px;
        color: #000000;
        line-height: 25px;
        margin-top: 0;
        margin-bottom: 0;
    }

    h2 {
        font-family: 'Lato-Light';
        font-size: 16px;
        color: #000000;
        line-height: 19px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.btn-next {
    background-image: url(../images/icon-arrow-right-black.png);
}

.btn-prev {
    background-image: url(../images/icon-arrow-left-black.png);
}

.btn-heart {
    background-image: url(../images/icon-heart-black.png);
}

.btn-cart {
    background-image: url(../images/icon-shoppingcart.png);
}

.btn.btn-link{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border: 1px solid #000000;

    font-family: Lato-Bold;

    width: 23px;
    height: 23px;

    padding: 0;

    display: inline-block;

    background-repeat:no-repeat;
    background-position: center center;
}

.box{
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 1em;
    padding: 1em;
}

.btn-default {
  background: #D0021B;

  font-family: Lato-Bold;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;

  border: 0;
}

.btn-select-all{
    background: url(../images/icon-checkmark-grey.png) center left no-repeat;
    padding-left: 20px;
    padding-right: 30px;
    width: auto;
    border: none;
    color: gray;
}

.btn-share{
    background: url(../images/icon-share.png) center left no-repeat;
    padding-left: 20px;
    padding-right: 10px;
    width: auto;
    border: none;
    color: gray;
}

.btn-select-all:hover, .btn-share:hover {
  color: gray; 
}

footer {
    font-family: 'Lato-Light';
    border-top: 1px solid #EBEBEB;
    margin-top: 2em;
    padding: 2em;
    text-align: center;
}


#photos {
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;

}
#photos {
    img {
        width: 100% !important;
        height: auto !important;
        padding: 1em;
    }

    .photo-wrap {
        position: relative;

        .overlay {
            position: absolute;
            top: 1em;
            left:1em;
            right:1em;
            bottom: 1em;
            background-color:rgba(208,2,27,0.5);
        }

        .checkmark {
            background-image: url("../images/icon-checkmark-white.png");
            background-repeat:no-repeat;
            background-position: center center;
            display: inline-block;
            height: 16px;
            width: 19px;
            margin: auto;
            position: absolute;
            top: 50%; 
            left: 50%; 
            bottom: 0; 
            right: 0;
            margin-top: -8px;
            margin-left: -10px;
        }

        .btns {
            margin: auto;
            position: absolute;
            top: 50%; 
            left: 50%; 
            bottom: 0; 
            right: 0;
            margin-top: -30px;
            margin-left: -35px;

            .btn {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                border: 1px solid white;
                background-color: transparent;
                font-family: Lato-Bold;
                font-size: 12px;
                color: #FFFFFF;
                line-height: 11px;
                display: block;
                width: 70px;
                margin-bottom: 10px;

                .heart {
                    background-image: url("../images/icon-heart-white.png");
                    background-repeat:no-repeat;
                    background-position: center center;
                    display: inline-block;
                    height: 13px;
                    width: 14px;
                }
            }

            .btn:hover, .btn.selected {
                background-color: white;
                color: #D0021B;

                .heart {
                    background-image: url("../images/icon-heart-red.png");
                }
            }
        }
    }
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}